---
import type { WP_REST_API_Posts } from "wp-types";
import Layout from "../layouts/Layout.astro";

const pageSize = 10;

const res = await fetch(
  `${import.meta.env.PUBLIC_URL}/wp-json/wp/v2/posts?per_page=${pageSize}&_fields=author,id,excerpt,title,slug`,
);
const posts = (await res.json()) as WP_REST_API_Posts;
---

<Layout title="Thorpe Bay Yacht Club">
  <main>
    <h1>Thorpe Bay Yacht Club</h1>
    <div class="space-y-6">
      {
        posts.map((post) => (
          <a class="card" href={`/post/${post.slug}/`}>
            <h2 class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0">
              <div set:html={post.title.rendered} />
            </h2>
            <Fragment set:html={post.excerpt.rendered} />

            <div class="text-sky-800 underline hover:text-sky-900">
              Read more
            </div>
          </a>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  main {
    width: 800px;
    max-width: calc(100% - 2rem);
    margin: auto;
    padding: 1rem;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
  }
  .card {
    display: block;
    padding: theme(padding.4);
    border-radius: theme(borderRadius.lg);
    outline: none;
    background-color: white;
    transition-duration: 200ms;
    transition-property: transform;
  }

  .card:focus-visible {
    outline: 1px solid theme(colors.yellow.500);
  }

  @media not (prefers-reduced-motion) {
    .card:focus-visible,
    .card:hover {
      transform: scale(1.04);
    }
  }
</style>
